name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore Sannr.sln

    - name: Build
      run: dotnet build Sannr.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test Sannr.sln --no-build --configuration Release --verbosity normal

    - name: Pack
      run: |
        # ONLY pack the main project now. 
        # It handles bundling Core and Gen automatically.
        dotnet pack src/Sannr.AspNetCore/Sannr.AspNetCore.csproj -c Release -o ./artifacts

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nuget-packages
        path: ./artifacts/*.nupkg
